## Using Bioservices

https://github.com/cokelaer/bioservices

Installations:
* pip install bioservices

In [40]:
%reset -f

In [41]:
import pandas as pd
import io

In [42]:
from bioservices import KEGG
k = KEGG(verbose=True)

In [49]:
def dataFramifyStr(string, colNames):
    stringList = io.StringIO(k.list(string))
    df = pd.read_csv(stringList, sep='\t', header=None) 
    df.columns = colNames
    print('Number of entries: '+ str(len(df)))
    return df

In [56]:
orgCols = ['taxID', 'orgCode', 'orgName', 'ordDesc']
pathCols = ['pathID', 'pathDesc']
reactionCols = ['rnID', 'rnDesc']
compoundCols = ['cpdID', 'cpdDesc']

In [57]:
orgList = dataFramifyStr('organism',orgCols)
orgList.head()

Number of entries: 6957

,taxID,orgCode,orgName,ordDesc
0,T01001,hsa,Homo sapiens (human),Eukaryotes;Animals;Vertebrates;Mammals
1,T01005,ptr,Pan troglodytes (chimpanzee),Eukaryotes;Animals;Vertebrates;Mammals
2,T02283,pps,Pan paniscus (bonobo),Eukaryotes;Animals;Vertebrates;Mammals
3,T02442,ggo,Gorilla gorilla gorilla (western lowland gorilla),Eukaryotes;Animals;Vertebrates;Mammals
4,T01416,pon,Pongo abelii (Sumatran orangutan),Eukaryotes;Animals;Vertebrates;Mammals

In [51]:
pathList = dataFramifyStr('pathway', pathCols)
pathList.head()

Number of entries: 541

          pathID                                  pathDesc
0  path:map00010              Glycolysis / Gluconeogenesis
1  path:map00020                 Citrate cycle (TCA cycle)
2  path:map00030                 Pentose phosphate pathway
3  path:map00040  Pentose and glucuronate interconversions
4  path:map00051           Fructose and mannose metabolism

In [53]:
reactionList = dataFramifyStr('reaction', reactionCols)
reactionList.head()

Number of entries: 11474

        rnID                                             rnDesc
0  rn:R00001  polyphosphate polyphosphohydrolase; Polyphosph...
1  rn:R00002  Reduced ferredoxin:dinitrogen oxidoreductase (...
2  rn:R00004  diphosphate phosphohydrolase; pyrophosphate ph...
3  rn:R00005  urea-1-carboxylate amidohydrolase; Urea-1-carb...
4  rn:R00006  pyruvate:pyruvate acetaldehydetransferase (dec...

In [55]:
compoundList = dataFramifyStr('compound',compoundCols)
compoundList.head()

Number of entries: 18756

        cpdID                                            cpdDesc
0  cpd:C00001                                         H2O; Water
1  cpd:C00002                     ATP; Adenosine 5'-triphosphate
2  cpd:C00003  NAD+; NAD; Nicotinamide adenine dinucleotide; ...
3  cpd:C00004  NADH; DPNH; Reduced nicotinamide adenine dinuc...
4  cpd:C00005  NADPH; TPNH; Reduced nicotinamide adenine dinu...

In [59]:
getString = k.get('cpd:C00001+rn:R00005+path:map00220')